* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

ul li {
    width: 24px;
    height: 24px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#gray {
    background-color: gray;
}

body.red {
    background-color: red;
    color: red;
}

body.green {
    background-color: green;
    color: green;
}

body.yellow {
    background-color: yellow;
    color: yellow;
}

body.blue {
    background-color: blue;
    color: blue;
}

body.gray {
    background-color: gray;
    color: gray;
}