*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5256ad;
}

.drag-area{
    border: 2px dashed #fff;
    height: 500px;
    width: 700px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drag-area.active{
    border: 2px solid #fff;
}

.drag-area .icon{
    font-size: 100px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

header{
    font-size: 40px;
}

span{
    margin-top: 20px;
    font-weight: 900;
    color: darkred;
}

.drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}