*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.orange{
    color: orange;
}

.container{
    display: grid;
    grid-template-rows: 80vh repeat(5, max-content);
    grid-template-columns: repeat(6, 1fr);
}

.section-title{
    text-align: center;
    padding: 25px;
    font-size: 27px;
    color: orange;
}

.section-title::before,
.section-title::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: .1rem;
    position: relative;
    vertical-align: middle;
    width: 15%;
}

.section-title::before{
    right: 0.5rem;
    margin-left: -50%;
}

.section-title::after{
    left: 0.5rem;
    margin-right: -50%;
}